body{
  background : #404040;
}
h1{
  font-size: 20px;
  text-align: center;
  
  color: #404040;
  margin: 10px 0;
}
.form{
  width: 400px;
  
  margin: 10px auto;
  padding: 30px;
  background: #fff;
}
p{
  text-align: center;
}
input{
  display: block;
  width: 300px;
  
  margin: 15px auto;
  padding: 10px;
  
  border-radius: 5px;
  border: 1px solid #404040;
}
input[type = "submit"]{
  background-color: blue;
  color: white;
  border: 0;
}
meter {
  display: block;
  width: 280px;
  margin: auto;
  height: 8px;
}
#error{
  color: red;
}
.display-none{
  display: none;
  
}
meter{
  width: 
}